<form [formGroup]="registerForm" class="row gy-2 " class="form-signin" (ngSubmit)="userRegister()" style="margin-top: 2rem">
  <div *ngIf="registerForm.errors?.AlreadyExist">
    <div class="alert alert-danger" role="alert">
      Error! May This Account Already Exist or your information not complete.
    </div>
  </div>


  <img class="mb-4" src="assets/pics/—Pngtree—smiling%20people%20avatar%20set%20different_7690740.png" alt="avatar" width="100" height="100">
  <h1 class="h3 mb-3 fw-normal" class="text-center">Please Register</h1>
  <div class="col-12">
    <label for="inputname" class="form-label">Name</label>
    <input class="form-control" formControlName="name" type="text"  id="inputname" placeholder="name.." required>
    <small *ngIf= "registerForm.get('name').invalid && registerForm.get('name').touched" class="text-danger" > Name is required</small>
  </div>
  <div class="col-md-6">
    <label class="form-label">Gender</label> <br>
    <input type="radio" name="gender" value="male" formControlName="gender"> Male
    <input type="radio" name="gender" value="female" formControlName="gender"> Female<br>
    <div class="invalid-feedback">
      Please select a choice
    </div>
  </div>
  <div class="col-12">
    <label for="inputusername" class="form-label">User Name</label>
    <input class="form-control" formControlName="userName" type="text" id="inputusername" placeholder="user name.." required>
    <small *ngIf= "registerForm.get('userName').invalid && registerForm.get('userName').touched" class="text-danger" > Username is required</small>
  </div>


  <div class="col-md-12">
    <label for="inputEmail4" class="form-label">Email</label>
    <input formControlName="email" type="email" class="form-control" id="inputEmail4" placeholder="you@example.com"  style="margin-bottom: 1vh" required>
    <small *ngIf= "registerForm.get('email').invalid && registerForm.get('email').touched" class="text-danger" > Enter a valid E-mail </small>
  </div>
  <div class="col-md-12">
    <label for="inputPassword4" class="form-label">Password</label>
    <input formControlName="password" type="password" class="form-control" id="inputPassword4" placeholder="**********" required>

    <small *ngIf= "registerForm.get('password').invalid && registerForm.get('password').touched" class="text-danger" style="display: block" > Valid Password Required, Capitals, Special Charachters & Numbers</small>
  </div>
  <div class="col-12">
    <label for="inputAddress" class="form-label">Address</label>
    <input formControlName="address" type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" required>
    <small *ngIf= "registerForm.get('address').invalid && registerForm.get('address').touched" class="text-danger" > Valid address is required</small>
  </div>

  <div class="col-md-12">
    <label for="inputEmail4" class="form-label">Mobile Phone </label>
    <div class="input-group has-validation">
      <span class="input-group-text">+20</span>
      <input formControlName="phoneNum" type="text" class="form-control" id="mobile" style="margin-bottom: 0" required>
<!--      <small *ngIf= "registerForm.get('phoneNum').invalid && registerForm.get('phoneNum').touched" class="text-danger" > Mobile number is required</small>-->

    </div>
  </div>

  <div class="col-md-6">
    <label for="country" class="form-label" style="margin-top: 1vh">City</label>
    <select class="form-select" id="country" required formControlName="city">
      <option *ngFor="let state of states" [ngValue]="state">
        {{ state }}
      </option>
    </select>
    <div class="invalid-feedback">
      Please select a valid country.
    </div>
  </div>



  <div class="col-12" style="margin-top: 1vh">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck">
      <label class="form-check-label" for="gridCheck">
        Save passwords for this website
      </label>
    </div>
  </div>
  <br>
  <button type="submit" id="myBtn3" class="w-100 btn btn-lg btn-primary" style="margin-bottom:2rem;"> Register </button>

</form>
