<!--<div>-->
<!--&lt;!&ndash;-->
<!--  "name": "string",-->
<!--  "price": 0,-->
<!--  "image": "string",-->
<!--  "size": "string",-->
<!--  "category": "string",-->
<!--  "description": "string",-->
<!--  "color": "string",-->


<!--&ndash;&gt;-->
<!--  <h1 style="color: #070707">Add Product</h1>-->
<!--  <div class="wpcf7" id="wpcf7-f156-p143-o1 formwrap" >-->
<!--    <form style="height: 80vh" action="/?page_id=143#wpcf7-f156-p143-o1" method="post" class="wpcf7-form" novalidate="novalidate" [formGroup]="productForm" (ngSubmit)="submitForm()" >-->
<!--      <div style="display: none;">-->
<!--        <input type="hidden" name="_wpcf7" value="156">-->
<!--        <input type="hidden" name="_wpcf7_version" value="3.7.2">-->
<!--        <input type="hidden" name="_wpcf7_locale" value="en_US">-->
<!--        <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f156-p143-o1">-->
<!--        <input type="hidden" name="_wpnonce" value="d1da331d93">-->
<!--      </div>-->
<!--      <p>-->
<!--           <span class="wpcf7-form-control-wrap Name">-->
<!--             <input type="string" name="Name" formControlName="name" value="" size="40" class="nameinput wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Name">-->
<!--          </span>-->

<!--           <span class="wpcf7-form-control-wrap Email">-->
<!--            <input type="string" name="Description" formControlName="description" class="emailinput wpcf7-form-control wpcf7-text wpcf7-email wpcf7-text" aria-required="true" aria-invalid="false" placeholder="Description">-->
<!--           </span>-->

<!--        <span class="wpcf7-form-control-wrap Email">-->
<!--            <input type="string" name="image" formControlName="image" class="emailinput wpcf7-form-control wpcf7-text wpcf7-email wpcf7-text" aria-required="true" aria-invalid="false" placeholder="Image">-->
<!--           </span>-->

<!--        <span class="wpcf7-form-control-wrap Email">-->
<!--            <input type="string" name="price" formControlName="price" class="emailinput wpcf7-form-control wpcf7-text wpcf7-email wpcf7-text" aria-required="true" aria-invalid="false" placeholder="Price">-->
<!--           </span>-->


<!--        <span class="wpcf7-form-control-wrap Email">-->
<!--            <input type="string" name="category" formControlName="category" class="emailinput wpcf7-form-control wpcf7-text wpcf7-email wpcf7-text" aria-required="true" aria-invalid="false" placeholder="Category">-->
<!--           </span>-->
<!--        <span class="wpcf7-form-control-wrap Email">-->
<!--            <input type="string" name="color" formControlName="color" class="emailinput wpcf7-form-control wpcf7-text wpcf7-email wpcf7-text" aria-required="true" aria-invalid="false" placeholder="Color">-->
<!--           </span>-->

<!--        <span class="wpcf7-form-control-wrap Email">-->
<!--            <input type="string" name="size" formControlName="size" class="emailinput wpcf7-form-control wpcf7-text wpcf7-email wpcf7-text" aria-required="true" aria-invalid="false" placeholder="Size">-->
<!--           </span>-->

<!--        <button class="btn btn-warning" type="submit" style=" margin-left: 2vh; font-weight: bolder;background-color: #ffc107; border-color: #ffc107;" >Add</button>-->
<!--      </p>-->
<!--      <div class="wpcf7-response-output wpcf7-display-none">-->
<!--      </div>-->
<!--    </form>-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->
<!--&lt;!&ndash;  &ndash;&gt;-->
<!--&lt;!&ndash;  <h1> Create Product</h1>&ndash;&gt;-->
<!--&lt;!&ndash;  <form [formGroup]="productForm" (ngSubmit)="submitForm()" novalidate>&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="form-group">&ndash;&gt;-->
<!--&lt;!&ndash;      <label>Name</label>&ndash;&gt;-->
<!--&lt;!&ndash;      <input type="string" maxlength="20" formControlName="name" class="form-control">&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="form-group">&ndash;&gt;-->
<!--&lt;!&ndash;      <label>Description</label>&ndash;&gt;-->
<!--&lt;!&ndash;      <textarea type="string" rows="3" maxlength="50" formControlName="description" class="form-control"></textarea>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="form-group">&ndash;&gt;-->
<!--&lt;!&ndash;      <label>Image</label>&ndash;&gt;-->
<!--&lt;!&ndash;      <textarea type="string" rows="3"  formControlName="image" class="form-control"></textarea>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="form-group">&ndash;&gt;-->
<!--&lt;!&ndash;      <label>Price</label>&ndash;&gt;-->
<!--&lt;!&ndash;      <input type="string" maxlength="20" formControlName="price" class="form-control">&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="form-group">&ndash;&gt;-->
<!--&lt;!&ndash;      <label>Category</label>&ndash;&gt;-->
<!--&lt;!&ndash;      <input type="string" maxlength="20" formControlName="category" class="form-control">&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="form-group">&ndash;&gt;-->
<!--&lt;!&ndash;      <label>Color</label>&ndash;&gt;-->
<!--&lt;!&ndash;      <input type="string" maxlength="20" formControlName="color" class="form-control">&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="form-group">&ndash;&gt;-->
<!--&lt;!&ndash;      <label>Size</label>&ndash;&gt;-->
<!--&lt;!&ndash;      <input type="string" maxlength="20" formControlName="size" class="form-control">&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;    <button type="submit">Submit product</button>&ndash;&gt;-->
<!--&lt;!&ndash;  </form>&ndash;&gt;-->
<!--</div>-->

<!--</div>-->




<div class="container-xl" >
    <div class="table-responsive" style="box-shadow: 2px 2px 15px #aaaaaa;margin-bottom: 5vh;border-radius: 15px; margin-top: 6vh;">
        <div class="table-wrapper" >
            <div class="table-title" style="background-color:#212529; padding: 2vh!important; color: white;" >
                <div class="row" >
                    <div class="col-sm-6" >
                        <h4><h3 style="    --bs-text-opacity: 1;
    color: rgba(var(--bs-warning-rgb),var(--bs-text-opacity))!important;font-family: system-ui,-apple-system">Add Product</h3></h4>
                    </div>
                    <div class="col-sm-6">
                        <button class="btn btn-success" type="submit" routerLink="/admin" style="margin-left:65vh ">
                            <i class='bi bi-arrow-90deg-right'></i><span> Back</span>
                        </button>
                    </div>
                </div>
            </div>
            <form style="background-color: white; padding: 4vh" [formGroup]="productForm" (ngSubmit)="submitForm()">
                <!--&lt;!&ndash;    <div class="form-group">&ndash;&gt;-->
                <!--&lt;!&ndash;      <label>Name</label>&ndash;&gt;-->
                <!--&lt;!&ndash;      <input type="string" maxlength="20" formControlName="name" class="form-control">&ndash;&gt;-->
                <!--&lt;!&ndash;    </div>&ndash;&gt;-->
                <!--&lt;!&ndash;    <div class="form-group">&ndash;&gt;-->
                <!--&lt;!&ndash;      <label>Description</label>&ndash;&gt;-->
                <!--&lt;!&ndash;      <textarea type="string" rows="3" maxlength="50" formControlName="description" class="form-control"></textarea>&ndash;&gt;-->
                <!--&lt;!&ndash;    </div>&ndash;&gt;-->
                <!--&lt;!&ndash;    <div class="form-group">&ndash;&gt;-->
                <!--&lt;!&ndash;      <label>Image</label>&ndash;&gt;-->
                <!--&lt;!&ndash;      <textarea type="string" rows="3"  formControlName="image" class="form-control"></textarea>&ndash;&gt;-->
                <!--&lt;!&ndash;    </div>&ndash;&gt;-->
                <!--&lt;!&ndash;    <div class="form-group">&ndash;&gt;-->
                <!--&lt;!&ndash;      <label>Price</label>&ndash;&gt;-->
                <!--&lt;!&ndash;      <input type="string" maxlength="20" formControlName="price" class="form-control">&ndash;&gt;-->
                <!--&lt;!&ndash;    </div>&ndash;&gt;-->
                <!--&lt;!&ndash;    <div class="form-group">&ndash;&gt;-->
                <!--&lt;!&ndash;      <label>Category</label>&ndash;&gt;-->
                <!--&lt;!&ndash;      <input type="string" maxlength="20" formControlName="category" class="form-control">&ndash;&gt;-->
                <!--&lt;!&ndash;    </div>&ndash;&gt;-->
                <!--&lt;!&ndash;    <div class="form-group">&ndash;&gt;-->
                <!--&lt;!&ndash;      <label>Color</label>&ndash;&gt;-->
                <!--&lt;!&ndash;      <input type="string" maxlength="20" formControlName="color" class="form-control">&ndash;&gt;-->
                <!--&lt;!&ndash;    </div>&ndash;&gt;-->
                <!--&lt;!&ndash;    <div class="form-group">&ndash;&gt;-->
                <!--&lt;!&ndash;      <label>Size</label>&ndash;&gt;-->
                <!--&lt;!&ndash;      <input type="string" maxlength="20" formControlName="size" class="form-control">&ndash;&gt;-->
                <!--&lt;!&ndash;    </div>&ndash;&gt;-->
                <div class="mb-3">
                    <label class="form-label">Name</label>
                    <input type="string" formControlName="name" class="form-control">
                </div>
                <div class="mb-3">
                    <label class="form-label">Description</label>
                    <input type="string" formControlName="description" class="form-control">
                </div>
                <div class="mb-3">
                    <label class="form-label">Image URL</label>
                    <input type="string" formControlName="image" class="form-control">
                </div>
                <div class="mb-3">
                    <label class="form-label">Price</label>
                    <input type="string" formControlName="price" class="form-control">
                </div>
                <div class="mb-3">
                    <label class="form-label">Category</label>
                    <input type="string" formControlName="category" class="form-control">
                </div>
                <div class="mb-3">
                    <label class="form-label">Color</label>
                    <input type="string" formControlName="color" class="form-control">
                </div>
                <div class="mb-3">
                    <label class="form-label">Size</label>
                    <input type="string" formControlName="size" class="form-control">
                </div>


                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input">
                    <label class="form-check-label">Confirm</label>
                </div>
                <button class="btn btn-primary" type="submit" style=" font-weight: bolder">Add Product</button>
            </form>
        </div>
    </div>
</div>
