<!--Division for GeeksForGeeks heading-->
<div class="container-fluid">
  <div style="height:80px">
    <div class="col-3"></div>
    <div class="col-6 text-light h2" >
      Khaloda ToDo List
    </div>
  </div>

  <div class="page-content page-container" id="page-content">
    <div class="padding">
      <div class="row container d-flex justify-content-center">
        <div class="col-md-12">
          <div class="card px-3">
            <div class="card-body">
              <h4 class="card-title">Khaloda Todo-list</h4>
              <div class="add-items d-flex"> <input [(ngModel)]="newTask" type="text" class="form-control todo-list-input" placeholder="What do you need to do today?"> <button class="add btn btn-primary font-weight-bold todo-list-add-btn"  (click)="addToList()">Add</button> </div>
              <div class="list-wrapper">
                <ul class="d-flex flex-column-reverse todo-list"*ngFor="let item of items;let i=index">
                  <li>
                    <div class="col-9 h3 fontStyle">{{i+1}}- {{item}}</div> <input (click)="deleteTask(i)" type="button" value="Delete" class="col-2 btn btn-danger">
                  </li>

                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
