
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800');

.bg-dark{

  background-color: #212529!important;
}
.carousel-caption {
  background-color: rgb(0 0 0 / 46%);
  text-align: left;
  padding: 25px;
  border-radius: 10px;
}
ol.carousel-indicators {
  display: block;
  left: auto;
  bottom: 50px;
  right: 15px;
}
.carousel-indicators li {
  height: 5px;
  background-color: #ffeb3b;
  opacity: .6;
}
.btn-primary{
  background-color: #212529;
  border-color: rgba(239, 239, 239, 0.7);
}


.User-area {
  width: 45px;
  height: 45px;
  position: relative;
  cursor: pointer;
  z-index: 1;
}
.User-area > .User-avtar {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  border: 2px solid #fff;
  box-shadow: 0px 0px 12px -5px #000;
}
.User-area > .User-avtar > img {
  width: 100%;
  height: 100%;
  border-radius: 30px;
}
.User-Dropdown {
  display: none;
  position: absolute;
  border-radius: 7px;
  background: #fff;
  box-shadow: 0px 0px 8px rgba(214, 214, 214, 0.78);
  list-style: none;
  padding: 0 20px;
  width: 150px;
  margin: 0;
  top: 70px;
  right: -9%;

}
.User-Dropdown:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  margin-left: -0.5em;
  right: 0px;
  box-sizing: border-box;
  border: 7px solid black;
  border-color: transparent transparent #fff #fff;
  transform-origin: 0 0;
  transform: rotate(135deg);
  box-shadow: -3px 3px 3px -3px rgba(214, 214, 214, 0.78);
}
.User-Dropdown.U-open {
  display: block;

}
.User-Dropdown > li {
  padding: 0px;
  line-height: 47px;
  border-bottom: 1px solid rgba(215, 215, 215, 0.17);
}
.User-Dropdown > li:last-child {
  border-bottom: 0px;
}
.User-Dropdown > li > a {
  font-size: 13px;
  padding: 15px 25px 16px 10px;
  text-decoration: none;
  color: #252525;
  transition: all 0.2s ease-out;

}
.User-Dropdown span {
  background: #16d67a;
  padding: 3px 10px;
  color: #fff;
  border-radius: 30px;
  font-size: 13px;
  margin-right: auto;
  margin-left:auto;
}
.User-Dropdown > li:before {
  content: '';
  width: 0px;
  height: 40px;
  position: absolute;
  background: #ffc107;
  margin-top: 4px;
  border-radius: 0 1px 1px 0;
  left: 0px;
  transition: all 0.2s ease;
}
.User-Dropdown > li:hover:before {
  width: 5px;
  border-radius: 30px;
}
.User-Dropdown > li a:hover {
  margin-left: 5px;
}


