<footer class="footer-distributed" style="margin-top: 0">
  <div class="footer-left" style="text-align: center;margin: auto">
    <h3>About<span class="colordif">E-Commerce</span></h3>

    <div class="footer-links">
      <a routerLink="home">Home</a>
      |
      <a routerLink="about">About</a>
      |
      <a routerLink="contactus">Contact</a>
    </div>


  </div>

  <div class="footer-center" style="text-align: center;margin: auto">
    <br>
    <div>
<!--      <i class="fa fa-map-marker"></i>-->
      <p><span>151, Mohamed Farid Street Down Town, Cairo</span> Cairo, Egypt - 19888</p>
    </div>
    <br>
    <div>

<!--      <i class="fa fa-phone"></i>-->
      <p>+20 01019888000</p>
    </div>
    <br>
    <div>
<!--      <i class="fa fa-envelope"></i>-->
      <p><a href="mailto:BM19888@banquemisr.com" class="colordif">BM19888@banquemisr.com</a></p>
    </div>
    <br>
  </div>


  <div class="footer-right" style="text-align: center;margin: auto">
    <br>
    <p class="footer-company-about">
      <span>About the company</span>
      We offer a modern e-commerce service, very many offers, and the latest products and clothes of men and women
    </p>
    <div class="footer-icons">
      <a href="#"><i class="bi bi-facebook"></i></a>
      <a href="#"><i class="bi bi-twitter"></i></a>
      <a href="#"><i class="bi bi-instagram"></i></a>
      <a href="#"><i class="bi bi-linkedin"></i></a>
      <a href="#"><i class="bi bi-youtube"></i></a>
    </div>
  </div>
  <br>
  <p class="footer-company-name" style="margin: auto">©2022 Copyrights Team 12 BanqueMisr. All Rights Reserved</p>
</footer>
